*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
}

header{
    background:#530068;
    color:white;
    padding:20px;
    text-align:center;
}

nav{
    margin-top:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:10px;
}

#inicio{
    background:#260144;
    color:white;
    text-align:center;
    padding:80px 20px;
}

#inicio a{
    color:white;
    display:inline-block;
    margin:10px;
}

section{
    padding:40px;
}

.grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
    margin-top:20px;
}

.card{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.foto{
    width:100%;
    aspect-ratio:1/1;
    overflow:hidden;
    border-radius:10px;
    background:white;
}

.foto img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

form{
    display:grid;
    gap:15px;
    margin-top:20px;
}

label{
    display:block;
    margin-bottom:5px;
}

input,
textarea,
button{
    width:100%;
    padding:10px;
    font:inherit;
}

button{
    cursor:pointer;
}

footer{
    background:#1d0042;
    color:white;
    text-align:center;
    padding:20px;
}

/* Tablet */
@media(max-width:768px){

    .grid{
        grid-template-columns:1fr;
    }

    nav a{
        display:block;
        margin:10px;
    }

    .foto{
        height:250px;
    }
}
